
body {
    background-color: rgb(19, 226, 143);
}
h1 {
 font-family:'Courier New', Courier, monospace;
 font-style: bold;
font-weight:100;
}
h4 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
label {
     font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
#camera {
    width: 500px;
    height: 400px;
    border-color: rgb(231, 184, 126);
}
img {
    border-radius: 140px;
    width: 500;
    height: 400;
    padding: 10px;
    border-color: rgb(231, 184, 126);
}
.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
 }
